<!DOCTYPE HTML>
<html>
	<head>
		<title>在地單位的合作與連結平台</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body>
		
		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>		
				<a href="index" class="logo">SeafoodAllergy</a>
				<!--<nav class="right" ><a href="login" class="button alt">登入</a></nav>-->
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index">主頁</a></li>
					<li><a href="search">搜尋活動</a></li>
					<li><a href="upLoadEvent">建立活動</a></li>
					<li><a href="localCompany">在地商家</a></li>
					<li><a href="https://00757303.wixsite.com/website">漁村小尖兵</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="content">
					<h1>網站簡介</h1>
					<p>在基隆發起活動，能夠透過網站得知有用資源</br>針對漁港類活動有相關的規劃。</p>
					<ul class="actions">
						<li><a href="#three" class="button scrolly">最新活動</a></li>
					</ul>
					<ul class="actions">
						<li><a href="upLoadEvent" class="button scrolly">建立活動</a></li>
					</ul>
				</div>
			</section>
		
		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
				  <ul class="tab-title"  style="list-style:none;text-align:right;">
					<li><a id="#tab01">最新活動</a></li>
					<li><a id="#tab02">近期建立</a></li>
				  </ul>
				<div id="tab01" class="tab-inner">
				<span id="latestEvent_1"></span></div>
				
				<div id="tab02" class="tab-inner">
				<span id="latestEvent_2"></span></div>
				
			</section>	
			
	
			<section id="main" class="wrapper style1 special">
				<h1 style="font-size:50px;">公告欄</h1>
				<div class="inner" >
					<ul class="bulletin_ul">
						<li><a>
							   <div class="newEvent">看見台灣農村之美農村再生攝影徵件活動</div>
							   <div class="newDate">2019.10.07~2019.10.31</div>
						</a></li>
						<li><a>
								<div class="newEvent">「2019基隆移民節」火熱報名中！</div>
								<div class="newDate">2019.11.23</div>
								</a></li>
						<li><a>
								<div class="newEvent">海軍108年國防知性之旅—營區開放活動來囉！</div>
								<div class="newDate">2019.09.28</div></a>
						</li>
						<li>
							<a>
								<div class="newEvent">「小城故事多-基隆在地行動GO」108年學習型城市計畫 </div>
								<div class="newDate">2019.08.30~2019.11.09</div></a></li>
						<li>
							<a>
								<div class="newEvent">「108年度基隆市社區規劃師(建築師)駐地輔導計畫」社區規劃輔導工作營-錄取名單</div>
								<div class="newDate">2019.08.17~2019.09.08</div></a>
						</li>
						<li>
							<a>
								<div class="newEvent">預約幸福婚姻家庭系列學習課程Ⅰ～108年推展家庭教育-婚姻教育計畫</div>
								<div class="newDate">2019.09.21~2019.11.02</div></a>
						</li>	
					</ul>
					<div align="center"><b><a href="#" style="text-align:center;width:20%;font-size:23px;color:#DAF5F5;text-decoration:none;"><br>SEE MORE</a></b></div>
				</div>
				
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Seafood Allergy</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">0965728008</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">kaz749283@gmail.com</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>
					</ul>
					<p>Author:WEI WANG Hopeful LEE Wei KUANG CAPTAIN LIANG SHAN LEE </p>
				</div>
			</footer>


		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script>
				$(function(){
				var $li = $('ul.tab-title li');
				$($li. eq(0) .addClass('active').find('a').attr('id')).siblings('.tab-inner').hide(); 
				$li.click(function(){
				$($(this).find('a'). attr ('id')).show().siblings ('.tab-inner').hide();
				$(this).addClass('active'). siblings ('.active').removeClass('active');});
				});
				
				function setResult_1(searchResult){
				$('#latestEvent_1').empty();
				var popContent='<h1 style="font-size:50px; text-align:center;" >最新活動</h1><div class="inner flex flex-3">';
				for(var i=0;i<3;i++){
						popContent +=//enctype="multipart/form-data
							'<form action="/eventdetails" class="flex-item box" method="GET" " name="form-search'+i+'" id="form-search'+i+'"><input type="hidden" name="eventName" value="'+searchResult[i].eventName+'">'+
							'<div  onClick="document.forms[\'form-search'+i+'\'].submit();"><a style="text-decoration:none;" target="_blank">';
						popContent +=
							'<div class="image fit"><img src="static/images/'+searchResult[i].eventName+'.jpg" alt="" /></div>';
						popContent +=
							'<div class="content">'+
							'<h3>'+searchResult[i].eventName+'</h3>'+
							'<p><b><span style="color:#AAAAAA;">活動時間 : <br>'+searchResult[i].eventM_B+'</b></p>'+
							'<p><b><span style="color:#AAAAAA;">活動地點 : <br>'+searchResult[i].eventLocation+'</span></b></p>'+
							'</div></a></div></form>';
					}
					popContent += '</div><div align="center"><b><a href="#" style="text-align:center;width:20%;font-size:23px;color:#25a2c3;text-decoration:none;"><br>SEE MORE</a></b></div>';
				$('#latestEvent_1').append(popContent);
				}
				
				function setResult_2(searchResult){
				$('#latestEvent_2').empty();
				var popContent='<h1 style="font-size:50px; text-align:center;" >近期建立</h1><div class="inner flex flex-3">';
				for(var i=0;i<3;i++){
						popContent +=
							'<form action="/eventdetails" class="flex-item box" method="GET" name="form-search'+(i+3)+'" id="form-search'+(i+3)+'"> <input type="hidden" name="eventName" value="'+searchResult[i].eventName+'">'+
							'<div onClick="document.forms[\'form-search'+(i+3)+'\'].submit();"><a style="text-decoration:none;" target="_blank">';
						popContent +=
							'<div class="image fit"><img src="static/images/'+searchResult[i].eventName+'.jpg" alt="" /></div>';
						popContent +=
							'<div class="content">'+
							'<h3>'+searchResult[i].eventName+'</h3>'+
							'<p><b><span style="color:#AAAAAA;">活動時間 : <br>'+searchResult[i].eventM_B+'</b></p>'+
							'<p><b><span style="color:#AAAAAA;">活動地點 : <br>'+searchResult[i].eventLocation+'</span></b></p>'+
							'</div></a></div></form>';
					}
					popContent += '</div><div align="center"><b><a href="#" style="text-align:center;width:20%;font-size:23px;color:#25a2c3;text-decoration:none;"><br>SEE MORE</a></b></div>';
				$('#latestEvent_2').append(popContent);
				}
				
				var ipconfig = "140.121.199.231:27018";
				$(document).ready(function(){
						$.ajax({
						type: 'POST',
						url: "http://"+ipconfig+"/searchcomplete",
						data: JSON.stringify({ type : "recently"}),
						contentType: 'application/json; charset=utf-8',
						success: setResult_1
						});
				});
				
				$(document).ready(function(){
						$.ajax({
						type: 'POST',
						url: "http://"+ipconfig+"/searchcomplete",
						data: JSON.stringify({ type : "upLoadTime"}),
						contentType: 'application/json; charset=utf-8',
						success: setResult_2
						});
				});
				
			</script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>