<!DOCTYPE html>
<html>
  <head>
    <script src="static/assets/js/map.js"></script>
    <link rel="stylesheet" href="static/assets/css/map.css" />
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1CriIa5SUuz2nx9H0N92hKSoEC4himHE&callback=initMap">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <div id="map"></div>
    <div id="button">
      <button type="button" class="btn btn-success" onclick="add()">我在哪裡</button>
      <button type="button" class="btn btn-primary" onclick="add()">找附近景點</button>
    </div>
  </body>
</html>